﻿@model Projet_ELMOHCINE_EZZERRIFI.Models.Client.ClientModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClientModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projets)
        </dt>

        <dd>
            @if (Model.Projets != null)
            {
                foreach (var projet in Model.Projets)
                {
                        <text> - </text> @projet.Name;
                        <br />
                }
            }
                @Html.ActionLink("+ Nouveau projet","Create","Projet")

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { Customer_ID = Model.Customer_ID }) |
    @Html.ActionLink("retour à la list", "List")
</p>
