﻿@model IEnumerable<Projet_ELMOHCINE_EZZERRIFI.Models.Client.ClientModel>

@{
    ViewBag.Title = "List des clients";
}

<h2>List des clients</h2>

<p>
    @Html.ActionLink("Nouveau client", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Projets)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
                @foreach (var projet in item.Projets)
                {
                    <text>- </text>@projet.Name
                    if (projet.Project_ID != item.Projets.Last().Project_ID)
                    { <br />}
                }
                @if (item.Projets.Count() == 0)
                {
                    @Html.ActionLink("+ Nouveau projet", "../Projet/Create")
                }
            
        </td>
        <td>
            @Html.ActionLink("Détails", "Details", new { @item.Customer_ID }) |
            @Html.ActionLink("Modifier", "Edit", new { @item.Customer_ID  }) |
            <a onclick="return (confirm('Etes-vous sûr de vouloir supprimer cet élément ?'));" href="Delete/@item.Customer_ID">Supprimer</a>
        </td>
    </tr>
}

</table>
