﻿@model Projet_ELMOHCINE_EZZERRIFI.Models.Employee.EmployeeModel

@{
    ViewBag.Title = "Create";
}

<h2>Nouvel employé</h2>

@using (Html.BeginForm("CreateAction","Employee",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Pôle : </label>
            <div class="col-md-10">
               <select name="Pole_ID" class="form-control">
                   @foreach(var pole in ViewBag.poles)
                   {
                       <option value="@pole.Pole_ID">@pole.Name</option>
                   }
               </select>
                @Html.ActionLink("+ Nouveau pôle", "../Pole/Create")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Rôle : </label>
            <div class="col-md-10">
                <select name="Role_ID" class="form-control">
                    @foreach (var role in ViewBag.roles)
                    {
                        <option value="@role.Role_ID">@role.Name</option>
                    }
                </select>
                @Html.ActionLink("+ Nouveau rôle","../Role/Create")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Créer" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la liste", "ListEmployee")
</div>


<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal-role" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Nouveau Rôle : </h4>
            </div>
            <div class="modal-body">

                <form method="post" action="../Role/CreateAction">
                    <div class="form-group">
                        <label for="Name">Libelle : </label>
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="Libelle role ...">
                    </div>
                    <button type="submit" class="btn btn-default">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>




