﻿@model IEnumerable<Projet_ELMOHCINE_EZZERRIFI.Models.Employee.EmployeeModel>

@{
    ViewBag.Title = "ListEmployee";
}

<h2>List employés/<small><a href="../Role/List">List rôles</a></small></h2>

<p>
    @Html.ActionLink("Nouveau employé", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nom
        </th>
        <th>
            Email
        </th>
        <th>
            Telephone
        </th>
        <th>
            Pôle
        </th>
        <th>
            Rôle
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)<text> </text>@Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pole.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.Name)
        </td>
        <td>
            @Html.ActionLink("Détails", "Details", new {  id=item.Employee_ID }) |
            @Html.ActionLink("Modifier", "Edit", new {  id=item.Employee_ID  }) |
            <a onclick="return (confirm('Etes-vous sûr de vouloir supprimer cet élément ?'));" href ="Delete/@item.Employee_ID">Delete</a>
        </td>
    </tr>
}

</table>