﻿@model IEnumerable<Projet_ELMOHCINE_EZZERRIFI.Models.RoleModel>

@{
    ViewBag.Title = "List des rôles";
}

<h2>List des rôles/<small><a href="../Employee/ListEmployee">List employés</a></small></h2>

<p>
    @Html.ActionLink("Nouveau rôle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Détails", "Details", new { id = item.Role_ID }) |
            @Html.ActionLink("Modifier", "Edit", new { id=item.Role_ID }) |
            <a onclick="return (confirm('Etes-vous sûr de vouloir supprimer cet élément ?'));" href="Delete/@item.Role_ID">Delete</a>

        </td>
    </tr>
}

</table>
