﻿@model Projet_ELMOHCINE_EZZERRIFI.Models.Tva.TvaModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TvaModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TVA_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TVA_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
