﻿@model IEnumerable<Projet_ELMOHCINE_EZZERRIFI.Models.Tva.TvaModel>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Nouvelle Tva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value) 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value) €
        </td>
        <td>
            @Html.ActionLink("Détails", "Details", new { @item.TVA_ID }) |
            @Html.ActionLink("Modifier", "Edit", new { @item.TVA_ID  }) |
            <a onclick="return (confirm('Etes-vous sûr de vouloir supprimer cet élément ?'));" href="Delete/@item.TVA_ID">Supprimer</a>
        </td>
    </tr>
}

</table>
