﻿@model Projet_ELMOHCINE_EZZERRIFI.Models.Pole.PoleModel

@{
    ViewBag.Title = "Create";
}

<h2>Nouveau pôle</h2>

@using (Html.BeginForm("CreateAction","Pole",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
         

        <div class="form-group">
            <label class="control-label col-md-2"> Manageur : </label>
            <div class="col-md-10">
                <select name="Manager_ID" class="form-control">
                    @if(ViewBag.Employee != null)
                    {
                        foreach (var mgr in ViewBag.Employee)
                        {
                            <option value="@mgr.Employee_ID">@mgr.FirstName @mgr.LastName</option>
                        }
                    }
                </select>
                @Html.ActionLink("+Nouvel Employee","../Employee/Create")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Créer" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la list", "List")
</div>
