﻿@model Projet_ELMOHCINE_EZZERRIFI.Models.Pole.PoleModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PoleModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pole_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pole_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pole_ID }) |
    @Html.ActionLink("Retour à la list", "List")
</p>
