﻿@model Projet_ELMOHCINE_EZZERRIFI.Models.Pole.PoleModel

@{
    ViewBag.Title = "Edit";
}

<h2>Modifier pôle</h2>

@using (Html.BeginForm("EditAction", "Pole",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Pole_ID )

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"> Pôle : </label>
            <div class="col-md-10">
                <select name="Manager_ID" class="form-control">
                    @foreach (var manager in ViewBag.Employee)
                    {
                        <option value="@manager.Employee_ID"  
                                @if (@manager.Employee_ID == Model.Manager_ID) 
                                {
                                    <text> selected </text>
                                }
                                >@manager.FirstName @manager.LastName</option>
                    }
                </select>
                @Html.ActionLink("+ Nouvel employee", "Create","Employee")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la list", "List")
</div>
