﻿@model IEnumerable<Projet_ELMOHCINE_EZZERRIFI.Models.Pole.PoleModel>

@{
    ViewBag.Title = "List de pôles";
}

<h2>List des pôles</h2>

<p>
    @Html.ActionLink("Nouveau pole", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager.FirstName) @Html.DisplayFor(modelItem => item.Manager.LastName)
        </td>
        <td>
            @Html.ActionLink("détails", "Details", new { id = item.Pole_ID }) |
            @Html.ActionLink("Modifier", "Edit", new { id=item.Pole_ID }) |
            <a onclick="return (confirm('Etes-vous sûr de vouloir supprimer cet élément ?'));" href="Delete/@item.Pole_ID">Supprimer</a>
        </td>
    </tr>
}

</table>
