﻿@model Projet_ELMOHCINE_EZZERRIFI.Models.Projet.ProjetModel

@{
    ViewBag.Title = "Create";
}

<h2>Nouveau projet</h2>

@using (Html.BeginForm("CreateAction", "Projet",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Budget, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control" }, type ="number" })
                @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Customer_ID" id="Customer_ID" class="form-control">
                    @foreach (var client in ViewBag.clients)
                    {
                        <option value="@client.Customer_ID">@client.Name</option>
                    }
                </select>
                @Html.ActionLink("+ Nouveau client","Create","Client")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pole_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Pole_ID" id="Pole_ID" class="form-control">
                    @foreach(var pole in ViewBag.poles)
                    {
                        <option value="@pole.Pole_ID">@pole.Name</option>
                    }
                </select>
                @Html.ActionLink("+ Nouveau pôle", "Create", "Pole")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Créer" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la list", "List")
</div>
