﻿@model IEnumerable<Projet_ELMOHCINE_EZZERRIFI.Models.Projet.ProjetModel>

@{
    ViewBag.Title = "List";
}

<h2>List des projets</h2>

<p>
    @Html.ActionLink("Nouveau projet", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pole_ID)
        </th>
        <!--th>
            @Html.DisplayNameFor(model => model.Expanses)
        </th-->
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Budget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poles.Name)
        </td>
        <!--td>
            @if(item.Expanses != null)
            {
                foreach(var expanse in item.Expanses)
                {
                    <text>- </text> @expanse.Amount_TTC
                        if(expanse.Expanse_ID != item.Expanses.Last().Expanse_ID){ <br />}
                }
            }
            else
            {
                @Html.ActionLink("+ Nouvelle expanse","Create","Expanse")
            }

        </td-->
        <td>
            @Html.ActionLink("Détails", "Details", new { @item.Project_ID  }) |
            @Html.ActionLink("Edit", "Edit", new { @item.Project_ID  }) |
            <a onclick="return (confirm('Etes-vous sûr de vouloir supprimer cet élément ?'));" href="Delete/@item.Project_ID">Supprimer</a>
        </td>
    </tr>
}

</table>
