﻿
@{
    ViewBag.Title = "Gestion de données";
}

<h2>Gestion de données</h2>

<h3>
    <table>
        <tr>
            <td width="300px">
                <ul>
                    <li class="treeview-menu">@Html.ActionLink("Projets", "List", "Projet")</li>
                    <br />
                    <li class="treeview-menu">@Html.ActionLink("Clients", "List", "Client")</li>
                    <br />
                    <li class="treeview-menu">@Html.ActionLink("Pôles", "List", "Pole")</li>
                    <br />
                </ul>
            </td>
            <td>
                <ul>
                    <li class="treeview-menu">@Html.ActionLink("TVAs", "List", "Tva")</li>
                    <br />
                    <li class="treeview-menu">@Html.ActionLink("Expanses", "List", "Expanse")</li>
                    <br />
                </ul>
            </td>
        </tr>
    </table>
</h3>